@use '../_foundation/global' as g;

#faq_lists > div > div > div > div > span:nth-child(1) {
    -webkit-text-stroke: 1px var(--s-color-6e9b144a);
    text-stroke: 1px var(--s-color-6e9b144a);
}

@view-transition {
  navigation: auto;
}

section {
    display: grid;
    align-content: center;
    height: 100svh;
}

#canvas {
    width: 100% !important;
    height: 100svh !important;
}
nav {
    // width: 100%;
    // height: 100svh;
    // display: grid;
    // align-content: start;
    // box-sizing: border-box;
    // padding-inline: 4rem;
    ul {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(34rem, 1fr));
      align-items: center;
      gap: 1rem;
      white-space: nowrap;
        li {
            display: grid;
            a {
                font-size: 3rem;
                text-decoration: none;
                border: solid 1px;
                line-height: 1;
                width: 100%;
                box-sizing: border-box;
                padding: 1rem;
                > span {
                    display: inline grid;
                    overflow: clip;
                    > span {
                        text-shadow: 0 1.2lh oklch(.8 .2 248deg);
                        transition: translate 200ms ease-out;
                    }
                }
                @media (hover:hover) {
                    &:hover {
                        span {
                            span {
                                translate: 0 -1.2lh;
                            }
                        }
                    }
                }
            }
        }
    }
}

//masonry
.masonry {
    display: grid-lanes;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 1rem;
    flow-tolerance: 1;
    @supports not (display: grid-lanes) {
        display: grid;
    }
}

//parallax
.parallax {
    display: grid;
    justify-content: center;
    gap: 2rem;
    img {
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
        animation: --parallax linear both;
        animation-timeline: view();
        &:nth-child(even) {
            grid-column: 1/2;
        }
        &:nth-child(odd) {
            grid-column: 2/3;
        }
        &:nth-child(3) {
            grid-row: 3/4;
        } 
        &:nth-child(4) {
            grid-row: 4/5;
        } 
        &:nth-child(5) {
            grid-row: 5/6;
        } 
    }
}

@keyframes --parallax {
    from {
        object-position: 0 0px;
    }
    to {
        object-position: 0 100px;
    }
}

//attr()
li {
    &::before {
        content: attr(data-fruit);
    }
}
.entry {
  color: var(--color, black);
  border: 1px solid var(--color, black)
}
.aaaaa {
    color: attr(data-color color, pink);
}
:root {
  --color-primary: #3223b3;
  --color-secondary: #7c71f6;
  --color-primary-light: #ebe9fc;
  --color-text: #404040;
  --color-text-muted: #808080;
  --color-border: #d0d0d0;
  --color-white: #ffffff;
}
//anker
.recipe-layout {
  display: grid;
  grid-template-columns: 240px 1fr;
  max-width: 960px;
}

.progress {
  position: sticky;
  top: 0;
  height: fit-content;
  display: grid;
  padding: 60px 24px;
  scroll-target-group: auto;
}

.progress__item {
  position: relative;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 27px;
    width: 1px;
    height: 0;
    background-color: var(--color-border);
    transition: height 0.2s ease;
  }

  /* step間の縦線を表示 */
  &:has(.progress__link:target-before)::after {
    height: 100%;
  }
}

.progress__link {
  display: grid;
  grid-template-columns: 58px auto;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.2s ease;
  position: relative;
  padding-bottom: 36px;
  color: var(--color-text);

  /* スクロール通過ずみ */
  &:target-before {
    color: var(--color-text-muted);

    /* ✔️アイコンを表示 */
    .progress__text::after {
      content: "✔️";
      position: absolute;
      top: 0;
      right: -18px;
    }

    .progress__badge {
      color: var(--color-text-muted);
    }
  }

  /* 現在表示中 */
  &:target-current {
    color: var(--color-primary);

    .progress__badge {
      background-color: var(--color-primary);
      color: var(--color-white);
      border-color: transparent;
    }
  }

  /* スクロール未到達 */
  &:target-after {
    color: var(--color-text);
  }
}

.progress__badge {
  border-radius: 999px;
  border: 1px solid var(--color-border);
  background-color: var(--color-white);
  font-size: 12px;
  padding: 2px 0;
  color: var(--color-text);
  text-align: center;
}

.progress__text {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 14px;
  position: relative;
  width: fit-content;
}

.progress__time {
  font-size: 12px;
}

.recipe-main {
  padding: 60px 24px 60px 0;
}

.recipe-title {
  font-size: 28px;
  color: var(--color-primary);
  margin-bottom: 8px;
}

.recipe-title__lead {
  margin-bottom: 24px;
  font-size: 14px;
  color: var(--color-text-muted);
}

.recipe-intro {
  display: grid;
  gap: 4px;
}

.recipe-intro__title {
  font-size: 14px;
  font-weight: bold;
}

.recipe-intro__list {
  display: grid;
  gap: 4px;
  font-size: 14px;

  li {
    list-style: disc;
    margin-left: 16px;
  }
}

.recipe-step {
  padding: 48px 0;
}

.recipe-step__title {
  display: flex;
  align-items: baseline;
  gap: 12px;
  font-size: 20px;
  border-bottom: 1px solid var(--color-border);
}

.recipe-step__label {
  color: var(--color-primary);
  font-size: 14px;
}

.recipe-step__time {
  font-size: 14px;
  font-weight: normal;
}

.recipe-step__image {
  aspect-ratio: 16 / 9;
  width: 100%;
  background-color: var(--color-border);
}

.recipe-step__content {
  padding: 20px 0;
}

.recipe-step__list {
  display: grid;
  gap: 12px;
  font-size: 16px;
}

.recipe-step__item {
  list-style: decimal;
  margin-left: 16px;
}

@media (max-width: 840px) {
  .recipe-layout {
    grid-template-columns: 140px 1fr;
  }

  .progress__item {
    position: relative;

    &:not(:last-child)::after {
      left: 10px;
    }
  }

  .progress__link {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px;
    padding-bottom: 24px;
  }

  .progress__text {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 16px;
  }

  .recipe-step__title {
    flex-direction: column;
    gap: 6px;
  }
}

//css_allow-discrete @starting-style
.modal {
  color: #fff;
  font-size: 5rem;
  width: 100%;  
  display: flex;
  justify-content: center;
  opacity: 1;
  background-color: red;
  padding-block: 10rem;
  transition: all 0.3s ease discrete;
  transition-property: opacity, display;
  &.is-hidden {
    display: none;
    opacity: 0;
  }
}
.btn {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 5rem;
  background-color: red;
  width: fit-content;
  margin: 5rem auto 0;
  cursor: pointer;  
}
@starting-style {
  .modal {
    opacity: 0;
  }
}

// TB
@media only screen and (max-width:g.$size-tb) {}
// SP
@media only screen and (max-width:g.$size-sp) {}
